html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.nav_bar{
    background-color: #470E80;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.index-links{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.5em 0.5em 0.5em;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}

.index-links:hover{
    color:#000000;
    background-color:#FFFFFF;
}

.submit-button{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #470E80;
    margin:0 0.5em 0.5em 0.5em;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#470E80;
    text-align:center;
    transition: all 0.2s;
}

.submit-button:hover{
    color:#FFFFFF;
    background-color:#470E80;
}

.full-lenght{
    length: 100vh;
    height: 10vh;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 0.625em;
    top: 0.9375em;
}

.logo{
    font-family: 'Cinzel', serif, bold;
    font-size: 1.5em;
    color: white;
    font-weight: bold;
}

.top-left {
    margin-left: 1em;
}

.content {
    text-align: center;
}

.title {
    font-size: 5.25em;
}

.m-b-md {
    margin-bottom: 1.875em;
}

.show-icon{
    color: #470E80;
}
